<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.CatchJob.IDAO.JobDao">
	
	<insert id="AddJob" parameterType="com.care.CatchJob.DTO.Job">
		INSERT INTO job
		(no,member_nickname,job_comment,job_pay,latitude,longitude,road_address,address,detail_address,job_name,member_phone,job_num,job_option,job_date,job_time_start,job_time_end, board_date)
		VALUES (job_SEQ.NEXTVAL, #{member_nickname}, #{job_comment}, #{job_pay},#{latitude}, #{longitude}, #{road_address}, #{address}, #{detail_address}, #{job_name}, #{member_phone}, #{job_num}, #{job_option}, #{job_date}, #{job_time_start}, #{job_time_end}, sysdate)
	</insert>
	<insert id="applyInfo" parameterType="com.care.CatchJob.DTO.Apply">
		INSERT INTO applyInfo
		(no,member_nickname,apply_contents,apply_status)
		values(#{no},#{member_nickname},#{apply_contents},#{apply_status})
	</insert>
	<select id="FindJob" resultType="com.care.CatchJob.DTO.Job">
		SELECT * FROM job
	</select>
	<select id="InfoJobById" resultType="com.care.CatchJob.DTO.Job">
		SELECT * FROM job where member_nickname= #{member_nickname}
	</select>
	<select id="InfoJobByNo" parameterType="String" resultType="com.care.CatchJob.DTO.Job">
	SELECT * FROM job where no in (select no from applyInfo where member_nickname=#{member_nickname})
	</select>
	<delete id="DeleteJob" parameterType="String">
		DELETE FROM job where no=#{no}
	</delete>
	<delete id="DeleteApply" parameterType="com.care.CatchJob.DTO.Apply">
		DELETE FROM applyInfo where no=#{no} and member_nickname=#{member_nickname}
	</delete>
	<update id="UpdateJob" parameterType="com.care.CatchJob.DTO.Job">
		UPDATE job
		SET job_name = #{job_name}, job_num = #{job_num}, job_option= #{job_option}, job_comment= #{job_comment}
		where no=#{no}		
	</update>
	<select id="GetApplyNum" resultType="String" parameterType="String">
		select count(*)
		from applyInfo
		where no=#{no}
	</select>
	<select id="GetApplyInfo" resultType="com.care.CatchJob.DTO.Apply" parameterType="String">
		select *
		from applyInfo
		where no=#{no}
	</select>
	<select id="chkDuplicate" resultType="String">
		select count(*)
		from applyInfo
		where no=#{no} 
		AND member_nickname=#{member_nickname}
	</select>
</mapper>