	#container{width:80%;height:950px;margin: 20px auto;}
	#header{width:80%;height:50px;margin: 5px auto;}
	#left_box{width:50%;height:950px;float:left;margin: 0px auto;}
	#right_box{width:49%;height:950px;float:right;margin: 0px auto;}
	table {table-layout: fixed;}
	table td {overflow: hidden;white-space: nowrap;}
